.footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  color: var(--primary)
 }

 .contact-us-icon-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
 }

 .contact-us-button {
  margin: 10px;
 }