.navbar {
  background-color: var(--background);
  border-color: var(--foreground);
  border-width: 8px;
  color: var(--primary);
  font: var(--font);
  font-size: 82px;

  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  top: 0;
  left: 0;
}

.navbar-left {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar-center {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar-right {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}